body {
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px;
    background-color: #263238 ;
}
h1 {
    color: rgb(0, 255, 222);
    text-align: center;
}
.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vh;
    margin: 0 auto;
    max-height: 50vh;
    max-width: 50vh;
    overflow: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 191, 165, 0.5);
}

.btn__empezar {
    font-size: 2.5rem;
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(0, 191, 165, 0.6);
    background: rgba(24, 255, 255, 0.07);
    color: rgba(0, 191, 165, 1);
    box-shadow: 2px 4px 8px rgba(0, 191, 165, 0.5);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.hide {
    border: 2px solid rgba(244, 244, 244, 0.6);
    background: rgba(111, 111, 111, 0.3);
    color: rgba(236, 240, 241, 0.6);
    box-shadow: 2px 4px 8px rgba(218, 218, 218, 0.5);
    outline: none;
}

.color {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.violeta {
    background-image: linear-gradient(45deg, #cb0d37 0%, #ff80ab 80%);
}

.violeta.light {
    background: #ff80ab;
}

.celeste {
    background-image: linear-gradient(-45deg, #147f7f 0%, #18ffff 80%);

}

.celeste.light {
    background: #18ffff;
}


.naranja {
    background-image: linear-gradient(-135deg, #ffa000  0%, #ffff00  80%);
}

.naranja.light {
    background: #ffff00;
}

.verde {
    background-image: linear-gradient(135deg, #00c853   0%, #c6ff00 80%);
}

.verde.light {
    background: #eeff41;
}

